
<div class="empty-start js-empty">
  <div class="empty-start__wrap">
    <div class="empty-start__card">
      <form class="empty-start__container">
        <div class="empty-start__text">
          <div class="empty-start__header">
              Добавьте кошельки, чтобы начать
          </div>
            укажите информацию о кошельках, чтобы воспdользоваться возможностями платформы
        </div>
              <div class="btn__container default">
                  <a class="btn btn--wide" href="/form">Загрузить</a>
              </div>
      </form>
    </div>
  </div>
</div>
